<div #mapa class="mapa-container">
    
</div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            Zoom: {{zoomLevel | number: '2.0-2'}}
            - Lng, Lat: [{{center[0] | number: '2.4-4'}},{{center[1] | number: '2.4-4'}}]
        </label>
        <input type="range" class="form-range" [value]="zoomLevel" min="0" max="18" #zoomInput (input)="zoomCambio(zoomInput.value)">
    </div>
    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()">
            -
        </button>

        <button class="btn btn-primary float-end" (click)="zoomIn()">
            +
        </button>
    </div>
</div>
