<ul class="list-group">
    <li class="list-group-item list-group-item-info" (click)="agregarMarcador()">
        + Agregar
    </li>
    <li class="list-group-item" 
        (click)="irAMarcador(item.marker!)" 
        *ngFor="let item of marcadores let i = index;" 
        [ngStyle]="{'background-color': item.color}"
        (dblclick)="borrarMarcador(i)">
        Marcador {{i + 1}}
    </li>
</ul>

<div #mapa class="mapa-container"></div>